<br>
<br>

<label>Choose a company:</label>

<select name="cars" id="cars">
  <option value=company1>{{company1.firmenname}}</option>
  <option value=company2>{{company2.firmenname}}</option>
  <option value=company3>{{company3.firmenname}}</option>
</select> 

<div>
    <li>{{company2.firmaid}}</li>
    <li>{{company2.firmenname}}</li>
    <!--Angular material select-->
</div>

<div>
    <li>{{company3.firmaid}}</li>
    <li>{{company3.firmenname}}</li>
</div>

<select>
    <option></option>
</select>
<!--br>
    <ul>
        <li>Bundesland: </li>
        <li>Ort: </li>
        <li>Straße: </li>
        <li>T&auml;tigkeitsbeschreibung: </li>
        <li>Unternehmensgr&ouml;ße: </li>
        <li>Umsatz: </li>
        <li>Gr&uuml;ndungsjahr: </li>
        <li>Cashflow: </li>
        <li>Gesellschaftsform: </li>
        <li>Eigenkapital: </li>
        <li>Auszubildende: </li>
        <li>Festangestellte: </li>
        <li>Mitarbeiteranzahl: </li>
        <li>Leasingarbeiter: </li>
    </ul>
</div>

<div>
    <h3>2. Firma</h3>

    <select name="companies">
        <option selected="selected" value="one">voest</option>
        <option value="two">Polytec</option>
        <option value="three">Spar</option>
    </select>
<br>
    <ul>
        <li>Bundesland: </li>
        <li>Ort: </li>
        <li>Straße: </li>
        <li>T&auml;tigkeitsbeschreibung: </li>
        <li>Unternehmensgr&ouml;ße: </li>
        <li>Umsatz: </li>
        <li>Gr&uuml;ndungsjahr: </li>
        <li>Cashflow: </li>
        <li>Gesellschaftsform: </li>
        <li>Eigenkapital: </li>
        <li>Auszubildende: </li>
        <li>Festangestellte: </li>
        <li>Mitarbeiteranzahl: </li>
        <li>Leasingarbeiter: </li>
    </ul>
</div-->

<!-- https://medium.com/edureka/angular-dropdown-a9d6c6073204 -->