<br>
<br>

<h2>Unternehmens-Vergleich</h2>
<br>
<div id="designContent">

    <select [(ngModel)]="selected1">
        <option *ngFor="let c of companies" [ngValue]="c">{{c.firmenname}}</option>
    </select>
    <br>
    <div>
        <br>
        <li>{{selected1 | json}}</li>
    </div>
    <br>
    <select [(ngModel)]="selected2">
        <option *ngFor="let c of companies" [ngValue]="c">{{c.firmenname}}</option>
    </select>
    <br>
    <div>
        <br>
        <li>{{selected2 | json}}</li>
    </div>
    <br>
    <select [(ngModel)]="selected3">
        <option *ngFor="let c of companies" [ngValue]="c">{{c.firmenname}}</option>
    </select>
    <br>
    <div>
        <br>
        <li>{{selected3 | json}}</li>
    </div>
</div>