<br>
<br>

<div>
    <li>{{company2.firmaid}}</li>
    <li>{{company2.firmenname}}</li>
</div>

<!--div>
    <h3>1. Firma</h3>

    <select>
        <option></option>
    </select>
<br>
    <ul>
        <li>Bundesland: </li>
        <li>Ort: </li>
        <li>Straße: </li>
        <li>T&auml;tigkeitsbeschreibung: </li>
        <li>Unternehmensgr&ouml;ße: </li>
        <li>Umsatz: </li>
        <li>Gr&uuml;ndungsjahr: </li>
        <li>Cashflow: </li>
        <li>Gesellschaftsform: </li>
        <li>Eigenkapital: </li>
        <li>Auszubildende: </li>
        <li>Festangestellte: </li>
        <li>Mitarbeiteranzahl: </li>
        <li>Leasingarbeiter: </li>
    </ul>
</div>

<div>
    <h3>2. Firma</h3>

    <select name="companies">
        <option selected="selected" value="one">voest</option>
        <option value="two">Polytec</option>
        <option value="three">Spar</option>
    </select>
<br>
    <ul>
        <li>Bundesland: </li>
        <li>Ort: </li>
        <li>Straße: </li>
        <li>T&auml;tigkeitsbeschreibung: </li>
        <li>Unternehmensgr&ouml;ße: </li>
        <li>Umsatz: </li>
        <li>Gr&uuml;ndungsjahr: </li>
        <li>Cashflow: </li>
        <li>Gesellschaftsform: </li>
        <li>Eigenkapital: </li>
        <li>Auszubildende: </li>
        <li>Festangestellte: </li>
        <li>Mitarbeiteranzahl: </li>
        <li>Leasingarbeiter: </li>
    </ul>
</div-->

<!-- https://medium.com/edureka/angular-dropdown-a9d6c6073204 -->
