<br>

<h2>Kontakt</h2>
<br>
<div id="designContact">
    <p>Techcenter Linz</p>
    <p>Hafenstraße 47-51, 4020 Linz</p>
    <p>Tel.: +43 732 273 418</p>
    <p>Fax: +43 732 273 418-10</p>
    <p>E-Mail: office@sermocore.com</p>
</div>
<br>
<h2>Impressum</h2>
<div id="designContact">
    <br>
    <b>Firma</b>
    <p>sermocore Software & Consulting GmbH</p>
    <br>
    <b>Firmenbuchnummer</b>
    <p>504568m</p>

    <b>UID</b>
    <p>ATU73980837</p>

    <b>Firmenbuchgericht</b>
    <p>Landesgericht Linz</p>

    <b>CEO</b>
    <p>DI (FH) Andreas Köfler</p>

    <b>Hauptniederlassung</b>
    <p>Techcenter Linz, Hafenstraße 47-51, Bauteil A, Stiege 5</p>
    <p>A-4020 Linz, Austria / Europe</p>

    <b>Firmenanschrift</b>
    <p>Techcenter Linz, Hafenstraße 47-51</p>
    <p>A-4020 Linz, Austria / Europe</p>

    <p><b>Phone:</b> +43 732 273418</p>
    <p><b>Fax:</b> +43 732 273418 10</p>
    <p><b>Email:</b> office@sermocore.com</p>
    <p><b>Web:</b> www.sermocore.com</p>

    <b>Bankverbindung</b>
    <p><b>Bank:</b> Oberbank Harbach,</p>
    <p>Leonfelder Straße 75a 4020 Linz/Donau</p>
    <p><b>Kontoinhaber:</b> sermocore Software & Consulting GmbH</p>
    <p><b>IBAN:</b> AT611500000821089851 <b>BIC:</b> OBKLAT2L</p>
</div>