<div id="designHeader">
    <img src="../assets/pictures/sermocore.png">

    <nav id="styleButton">
        <button mat-button color="primary" routerLink="/home">Startseite</button>
        <button mat-button color="primary" routerLink="/comparison">Unternehmen vergleichen</button>
        <button mat-button color="primary" routerLink="/contact">Kontakt</button>
    </nav>
</div>

<div id="designContent">
    <router-outlet></router-outlet>
</div>

<footer id="footerTextPosition">
    &copy; by Sermocore
</footer>